* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

h1 {
    font-size: 50px;
    text-align: center;
}


.elements {
    display: flex;
    margin: 20px;
    justify-content: space-around;
}

#fire, #water, #plant {
    border: 1px solid black;
    padding: 20px;
}

#fire {
    border-color: red;
    background-color: lightcoral;
}
#fire:hover {
    background-color: red;
}

#water {
    border-color: blue;
    background-color: lightblue;
}
#water:hover {
    background-color: blue;
}


#plant {
    border-color: green;
    background-color: lightgreen;
}
#plant:hover {
    background-color: green;
}

#fire:hover, #water:hover, #plant:hover {
    padding: 25px;  
}